.content {
    width: 1000px;
    margin: 50px auto;

}

#shopClass {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.shopList {
    width: 1000px;
    background-color: rgb(175, 194, 252);
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px 10px;
    box-shadow: 0 0 3px #ccc;
    position: relative;
}

.item-img {
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #eaeaea;
    box-shadow: 0 0 3px #ccc;
    overflow: hidden;
}
.item-img>img:hover {
    transform: scale(1.5,1.5);
}

.item-img>img {
    width: 300px;
    height: 300px;
}

.detail {
    position: absolute;
    top: 20px;
    right: 200px;
}

.detail>h4 {
    width: 300px;
    font-size: 20px;
}

.detail>p {
    line-height: 20px;
    font-size: 20px;
    color: red;
}
