.box{
    
}
.login{
    width: 400px;
    height: 300px;
    background-color: aqua;
    box-shadow: 0 0 5px #ccc;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    padding: 50px 30px;
    text-align: center;
}
.login>input{
    display: block;
    padding: 10px;
    width: 340px;
}
.login>span{
    display: block;
    height: 30px;
    color: red;
    font-size: 12px;
}
.login>button{
    appearance: none;
    width: 80px;
    height: 40px;
}